body {
    font-family: Inter;
    font-size: 14px;
}

a {
    text-decoration: none !important;
}

.c-primary {
    color: #2C69A7 !important;
}
.bg-primary{
    background-color: #2C69A7 !important;
}

.shadow-product {
    box-shadow: 0 1px 3px rgba(17, 24, 39, .09);
}

.navbar-custom {
    background-color: #2C69A7 !important;
    padding: 5px 5px;
    position: sticky;
    top: 0;
    z-index: 9999;
    box-shadow: 0 1px 3px rgba(17, 24, 39, .09);
}

.navbar-custom .nav-item a {
    color: #fff !important;
    font-weight: 500;
    background-color: #2C69A7 !important;
    font-size: 16px;
}
.navbar-custom .nav-item .dropdown-menu{
    padding: 0 !important;
}
.navbar-custom .nav-item .dropdown-menu a {
    color: #2C69A7 !important;
    font-weight: normal;
    background-color: #F2F2F7 !important;
    padding: 10px 5px;
    border-bottom: 1px #2C69A7 solid;    
    font-size: 14px;
}

.navbar-custom .nav-item {
    padding: 0 10px;
}

.navbar-custom .show-nav-mobile {
    display: none;
}

.form-nav {
    border: 1px #00539B solid;
    padding: 5px 5px;
    color: #00539B;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 250px;
    outline: none !important;
    font-size: 14px;
}

.form-nav input {
    outline: none !important;
    padding: 0 !important;
    border: 0 !important;
    font-size: 14px !important;
}

@media(max-width:991px) {
    .hide-on-mobile {
        display: none !important;
    }

    .navbar-custom .show-nav-mobile {
        display: flex !important;
    }

    .navbar-custom {
        background-color: #fff !important;
    }

    .navbar-custom .nav-item a {
        color: #2C69A7 !important;
        font-weight: 500;
        color: black !important;
        padding: 15px 0;
        border-bottom: 1px #ddd solid;
        background-color: #fff !important;
        font-size: 16px;
    }
    .navbar-custom .navbar-collapse{
        height: 91.4vh;
        overflow: auto;
    }
}

.title-section {
    font-size: 24px;
    color: black;
    font-weight: 500;
}

.subtitle-section {
    font-size: 16px;
    color: black;
    font-weight: 400;
}


/* galery */
.wrap-gallery::-webkit-scrollbar {
    scrollbar-width: none !important;
    display: none !important;
}

.wrap-gallery {
    -ms-overflow-style: none !important;
    /* IE and Edge */
    scrollbar-width: none !important;
    /* Firefox */
}

footer {
    background-color: #d6eafa;
    padding: 50px 0;
}

.footer-title {
    font-weight: 600;
    font-size: 26px;
    color: #00539B;
}

.footer-link {
    color: #00539B;
    width: 100%;
    text-decoration: none !important;
}

footer ul {
    list-style-type: none;
    padding: 0 !important;
}

footer ul li {
    padding: 5px 0 !important;
    margin: 0 !important;
}

.product-box {
    border-radius: 15px;
    border: 1px #f2f2f2 solid;
}

.product-box img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.accordion-custom .accordion-item {
    border: 0 !important;
}

.accordion-custom .accordion-button {
    outline: none !important;
    font-weight: 600;
    border-bottom: 1px #dee2e6 solid;
    box-shadow: unset !important;
}

.accordion-custom .accordion-button:not(.collapsed) {
    color: #00539B !important;
    background: #fff !important;
    border-bottom: 0 !important;

}

.accordion-custom .accordion-collapse.show {
    border-bottom: 1px #dee2e6 solid !important;
}

.accordion-custom .accordion-body {
    color: #00539B !important;
}  



.news-filter {
    background-color: #fff;
    color: #00539B;
    border: 1px #00539B solid;
    width: auto;
    min-width: 250px;
    padding: 15px 10px;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
}

.news-filter.active,
.news-filter:hover {
    background-color: #00539B !important;
    color: #fff !important;
}
@media(max-width:991px){
    .news-group{        
        align-items: center;
        justify-content: flex-start !important;        
        flex-wrap: nowrap !important;
    }
    .news-filter {
      
        min-width: 170px !important;
    }
}

.packet-filter {
    background-color: #fff;
    color: #00539B;
    border: 1px #00539B solid;
    width: 100%;    
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.packet-filter.active,
.packet-filter:hover {
    background-color: #00539B !important;
    color: #fff !important;
}

.option-packet {
    border: 1px #00539B solid;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 15px;
    color: black;
}

.option-packet:hover {
    background-color: #00539B !important;
    color: #fff !important;
}

.badge-packet {
    background-color: #fff !important;
    border: 1px #00539B solid;;
    color: #00539B !important;
    padding: 5px 15px;
    width: 130px;
    font-size: 12px;
    border-radius: 5px;
}

.table-custom thead tr th {
    background: #2C69A7;
    padding: 20px 10px;
    color: #fff;
    font-weight: 600;
}

.table-custom>:not(caption)>*>* {
    border: 2px #2C69A7 solid !important;
    padding: 15px 10px;
}

.slider-receiver .slick-prev {
    color: #00539B;
    position: absolute;
    right: 50px;
    border-radius: 100px;
    width: 30px;
    border: 1px black solid;
    height: 30px;
    top: -40px;
    background: #fff;
    font-weight: bold;
}

.slider-receiver .slick-next {
    color: #00539B;
    position: absolute;
    right: 10px;
    border-radius: 100px;
    width: 30px;
    border: 1px black solid;
    height: 30px;
    top: -40px;
    font-weight: bold;
    background: #fff;
}

@media(max-width:991px) {
    .title-match {
        font-size: 28px !important;
    }

    .group-match {
        padding: 30px 0 !important;
    }

    .group-match .subtitle-section {
        font-size: 16px !important;
    }

    .group-match .sub-group-match {
        width: 100% !important;
    }

    .group-match .text {
        font-size: 14px !important
    }

    .group-match img {
        width: 30px !important;
    }
}

.show-on-mobile {
    display: none !important;
}

@media(max-width:991px) {
    .show-on-mobile {
        display: block !important;
        width: 100%;
    }

    .show-on-desktop {
        display: none !important;
    }
}


.accordion-custom-2 .accordion-button {
    border-bottom: 2px black solid;
}

.accordion-custom-2 .accordion-body {
    border-bottom: 2px black solid;
}

.modal{
    z-index: 99999 !important;
}

.height-modal-receiver{
    background-color: #f2f2f2;
    height:450px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body{
    background-color: #fff !important;
}
.modal-body-receiver{
    padding: 0 !important;
}
@media(max-width:991px){
    .modal-body-receiver{
        padding: 15px !important;
    }
    .height-modal-receiver img{
        width: 100% !important;
        max-width: 300px !important;
    }
    .height-modal-receiver{
        padding: 15px;
        background-color: #fff !important;
        height:unset !important
    }   
    .container-news-detail{
        padding: 0 !important;
        margin: 0 !important;
        max-width: 100% !important;
    }
}

.btn-close-modal-custom{
    background-color: #fff;
    border-radius: 100px;
    width: 45px;
    border: 0 !important;
    outline: none !important;
    position: absolute;
    right: -10px;
    top: -10px;
    height: 45px;
    font-size: 28px;

    color: black !important;
    box-shadow: 0 1px 3px rgba(17, 24, 39, .09);
}

@media(max-width:991px){
    .gallery img{
        width: 130px !important;
        height: 200px !important;
    }
}
