body {
    font-family: Inter;
    font-size: 14px;
}

a {
    text-decoration: none !important;
}

.c-primary {
    color: #2C69A7 !important;
}

.bg-primary {
    background-color: #2C69A7 !important;
}

.shadow-product {
    box-shadow: 0 1px 3px rgba(17, 24, 39, .09);
}

.navbar-custom {
    background-color: #F2F2F7 !important;
    padding: 5px 5px;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0 1px 3px rgba(17, 24, 39, .09);
}

@media(min-width:992px) {
    .navbar-custom .nav-item {
        vertical-align: middle;
        display: flex;
        align-items: center;
    }
}

.navbar-custom .nav-item a {
    color: #2C69A7 !important;
    font-weight: 600;
    background-color: #F2F2F7 !important;
    font-size: 15px;
}

.navbar-custom .nav-item .dropdown-menu {
    padding: 0 !important;
}

.navbar-custom .nav-item .dropdown-menu a {
    color: black !important;
    font-weight: normal;
    background-color: #F2F2F7 !important;
    padding: 5px 5px;
    border-bottom: 1px #2C69A7 solid;
    font-size: 14px;
}

@media(min-width:992px) {
    .nav-item-spesial-deals {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .nav-item-spesial-deals a {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

.navbar-custom .nav-item {
    padding: 0 10px;
}

.navbar-custom .show-nav-mobile {
    display: none;
}

.form-nav {
    border: 1px #00539B solid;
    padding: 5px 5px;
    color: #00539B;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 250px;
    outline: none !important;
    font-size: 14px;
}

.form-nav input {
    outline: none !important;
    padding: 0 !important;
    border: 0 !important;
    font-size: 14px !important;
}

@media(max-width:991px) {
    .hide-on-mobile {
        display: none !important;
    }

    .navbar-custom .show-nav-mobile {
        display: flex !important;
    }

    .navbar-custom {
        background-color: #fff !important;
    }

    .navbar-custom .nav-item a {
        color: #2C69A7 !important;
        font-weight: 500;
        color: black !important;
        padding: 15px 0;
        border-bottom: 1px #ddd solid;
        background-color: #fff !important;
        font-size: 16px;
    }

    .navbar-custom .navbar-collapse {
        height: 91.4vh;
        overflow: auto;
    }
}

.title-section {
    font-size: 24px;
    color: #00529C;
    font-weight: 500;
}

.subtitle-section {
    font-size: 16px;
    color: #00529C;
    font-weight: 400;
}


/* galery */
.wrap-gallery::-webkit-scrollbar {
    scrollbar-width: none !important;
    display: none !important;
}

.wrap-gallery {
    -ms-overflow-style: none !important;
    /* IE and Edge */
    scrollbar-width: none !important;
    /* Firefox */
}

footer {
    background-color: #d6eafa;
    padding: 50px 0;
}

.footer-title {
    font-weight: 600;
    font-size: 26px;
    color: #00539B;
}

.footer-link {
    color: #00539B;
    width: 100%;
    text-decoration: none !important;
}

footer ul {
    list-style-type: none;
    padding: 0 !important;
}

footer ul li {
    padding: 5px 0 !important;
    margin: 0 !important;
}

.product-box {
    border-radius: 15px;
    border: 1px #f2f2f2 solid;
}

.product-box img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 200px;
    width: 100%;
    position: relative;
}

.accordion-custom .accordion-item {
    border: 0 !important;
}

.accordion-custom .accordion-button {
    outline: none !important;
    font-weight: 600;
    border-bottom: 1px #dee2e6 solid;
    box-shadow: unset !important;
}

.accordion-custom .accordion-button:not(.collapsed) {
    color: #00539B !important;
    background: #fff !important;
    border-bottom: 0 !important;

}

.accordion-custom .accordion-collapse.show {
    border-bottom: 1px #dee2e6 solid !important;
}

.accordion-custom .accordion-body {
    color: #00539B !important;
}



.news-filter {
    background-color: #fff;
    color: #00539B;
    border: 1px #00539B solid;
    width: auto;
    min-width: 250px;
    padding: 15px 10px;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
}

.news-filter.active,
.news-filter:hover {
    background-color: #00539B !important;
    color: #fff !important;
}

@media(max-width:991px) {
    .news-group {
        align-items: center;
        justify-content: flex-start !important;
        flex-wrap: nowrap !important;
    }

    .news-filter {

        min-width: 120px !important;
        font-size: 11px !important;
        font-weight: 600 !important;
        min-height: 50px;
        padding: 5px 5px !important;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.packet-filter {
    background-color: #fff;
    color: #00539B;
    border: 1px #00539B solid;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.packet-filter.active,
.packet-filter:hover {
    background-color: #00539B !important;
    color: #fff !important;
}

.option-packet {
    border: 1px #00539B solid;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 15px;
    color: black;
}

.option-packet:hover {
    background-color: #00539B !important;
    color: #fff !important;
}

.badge-packet {
    background-color: #fff !important;
    border: 1px #00539B solid;
    ;
    color: #00539B !important;
    padding: 5px;
    text-align: center;
    width: 120px;
    font-size: 12px;
    border-radius: 5px;
}

.table-custom thead tr th {
    background: #2C69A7;
    padding: 20px 10px;
    color: #fff;
    font-weight: 600;
}

.table-custom>:not(caption)>*>* {
    border: 2px #2C69A7 solid !important;
    padding: 15px 10px;
}

.slider-paket .slick-prev {    
    position: absolute;
    right: 45px;
    top: -50px;
    border: 0 !important;
    outline: none !important;
    box-shadow: unset !important;
    background-color: transparent !important;
}

.slider-paket .slick-next { 
    position: absolute;
    right: 10px;
    top: -50px;
    border: 0 !important;
    outline: none !important;
    box-shadow: unset !important;
    background-color: transparent !important;
}

.slider-paket-terbatas .slick-prev {    
    position: absolute;
    right: 45px;
    top: -50px;
    border: 0 !important;
    outline: none !important;
    box-shadow: unset !important;
    background-color: transparent !important;
}

.slider-paket-terbatas .slick-next {
    position: absolute;
    right: 10px;
    top: -50px;
    border: 0 !important;
    outline: none !important;
    box-shadow: unset !important;
    background-color: transparent !important;
}

@media(max-width:991px) {
    .title-match {
        font-size: 17px !important;
        color: #00529C !important;
    }

    .subtitle-match {
        font-size: 15px !important;
        color: #00529C !important;
    }

    .btn-dropdown-match {
        background-color: #f2f2f2 !important;
        color: black !important;
        border: 0 !important;
        padding: 5px !important;
        margin-top: 10px;
    }

    .btn-dropdown-match .title {
        font-size: 11px !important;
    }

    .btn-dropdown-match .subtitle {
        font-size: 13px !important;
    }

    .group-match {
        padding: 30px 0 !important;
    }

    .match-box {
        background: #fff !important;
    }

    .group-match .subtitle-section {
        font-size: 12px !important;
    }

    .group-match .sub-group-match {
        width: 50% !important;
    }

    .group-match .text {
        font-size: 14px !important
    }

    .group-match img {
        width: 30px !important;
    }

    .match-result .title-club {
        color: black !important;
        font-weight: 500 !important;
        font-size: 12px !important;
    }

    .match-result .image-club {
        width: 20px !important;
        height: 20px !important;
    }

    .match-result .match-result-element {
        background-color: #f2f2f2 !important;
        padding: 5px !important;
        border: 0 !important;
        justify-content: center !important;
    }

    .match-result .time {
        border: 1px black solid;
        font-weight: 500 !important;
        background-color: #fff;
        padding: 5px 10px;
        text-align: center;
        font-size: 11px !important;
        color: black !important;
    }
}

.show-on-mobile {
    display: none !important;
}

@media(max-width:991px) {
    .show-on-mobile {
        display: block !important;
        width: 100%;
    }

    .show-on-desktop {
        display: none !important;
    }
}


.accordion-custom-2 .accordion-button {
    border-bottom: 2px black solid;
}

.accordion-custom-2 .accordion-body {
    border-bottom: 2px black solid;
}

.modal {
    z-index: 99999 !important;
}

.height-modal-receiver {
    border-right: 1px black solid !important;
    background-color: #fff;
    height: 430px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body {
    background-color: #fff !important;
}

.modal-body-receiver {
    padding: 0 !important;
}

@media(max-width:991px) {
    .modal-body-receiver {
        padding: 15px !important;
    }

    .height-modal-receiver img {
        width: 100% !important;
        max-width: 300px !important;
    }

    .height-modal-receiver {
        padding: 15px;
        background-color: #fff !important;
        height: unset !important;
        border: 0 !important;
    }  
}

.btn-close-modal-custom {
    background-color: #fff;
    border-radius: 100px;
    width: 45px;
    border: 0 !important;
    outline: none !important;
    position: absolute;
    right: -10px;
    top: -10px;
    height: 45px;
    font-size: 28px;

    color: black !important;
    box-shadow: 0 1px 3px rgba(17, 24, 39, .09);
}

.gallery img {
    width: 200px !important;
}

@media(max-width:991px) {
    .gallery img {
        width: 150px !important;
    }
}

@media(max-width:480px) {
    .gallery img {
        width: 130px !important;
    }
}

.title-section {
    font-weight: bold;
}

@media(max-width:991px) {
    .title-section {
        font-size: 15px !important;
    }

    .subtitle-section {
        font-size: 12px !important;
    }
}

@media(max-width:420px) {
    .width-slider-packet {
        width: 280px !important;
    }
}

@media(max-width:991px) {
    .product-box img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        min-height: unset !important;
        width: 100%;
        position: relative;
    }

    .packet-filter {
        font-size: 11px !important;
        padding: 5px !important;
        min-width: 110px;
        margin-right: 10px !important;
        margin-bottom: 0 !important;
    }    
}

.rounded-special-deals {
    border-radius: 15px !important;
}

.navbar-custom .navbar-nav .nav-item .dropdown-toggle::after {
    display: none !important;
}

@media(max-width:991px) {
    .navbar-custom {
        padding: 0 !important;
    }

    .navbar-custom .container {
        padding: 0 !important;
        max-width: 100% !important;
    }

    .show-nav-mobile {
        padding: 15px 15px !important;
    }

    .navbar-custom .navbar-nav .nav-item {
        padding: 0 !important;
    }

    .navbar-custom .navbar-nav .nav-item a {
        padding: 10px 20px;
        font-size: 14px !important;
        font-weight: bold !important;
    }

    .navbar-custom .nav-item .dropdown-menu a {
        background: #f2f2f2 !important;
        border: 0 !important;
        font-size: 12px !important;
        color: black !important;
        font-weight: 500 !important;
    }

    .border-bottom-mobile-nav{
        border-bottom: 2px #ddd solid;
    }
    .navbar-custom .nav-item .dropdown-toggle .icon-dropdown {
        position: absolute;
        right: 15px;
        font-size: 18px;
        top: 10px;
    }

    .navbar-custom .nav-item .dropdown-toggle.show {
        color: #2C69A7 !important;
    }

    .navbar-custom .nav-item .dropdown-menu {
        margin: 0 !important;
        border: 0 !important;
    }

    .footer-title {
        font-size: 14px !important;
        font-weight: bold !important;
    }

    footer ul {
        font-size: 12px !important;
    }

    footer a img {
        width: 15px !important;
    }
}


.carousel__pagination-button--active::after {
    background-color: #2C69A7;
    color: #2C69A7;
}

.cs-floating {
    position: fixed;
    bottom: 25px;
    right: 25px;
    color: #00529C !important;
    display: flex;
    align-items: center;
    z-index: 2;
}

.cs-floating img {
    margin-left: 15px;
    width: 92px;
    height: 92px;
    border-radius: 100px;
}

.cs-floating .box {
    border-radius: 17.3244px 17.3244px 0px 17.3244px;
    width: 150px;
    font-size: 13px;
    font-weight: 500;
    padding: 15px;  
    width: 180px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(17, 24, 39, .09);
}
@media(max-width:991px){
    .cs-floating img {
        width: 55px;
        height: 55px;
    }
    .cs-floating .box {
        width: 125px !important;
        font-size: 10px !important;
        padding: 10px;
    }
    
}

.btn-option-packet {
    padding: 5px;
    font-size: 12px;
    border: 1px #2C69A7 solid !important;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #2C69A7 !important;
}

.btn-option-packet:hover,
.btn-option-packet.active {
    background-color: #2C69A7 !important;
    color: #fff !important;
}

button:disabled {
    border: 1px #ddd solid !important;
    color: #ddd !important;
    background: white !important;
}

.note-shadow {
    /* Frame 1321316475 */

    width: 100%;
    max-height: 200px;
    margin-top: 10px;
    overflow: auto;
    padding: 15px;

    background: #FFFFFF;
    box-shadow: inset 0px 16px 32px -4px rgba(12, 12, 13, 0.1);
    border-radius: 20px;
    flex: none;
    order: 2;
    flex-grow: 0;

}

.receiver-group {
    display: flex;
    justify-content: center;
}

.receiver-fitur {
    margin: 3px 5px;
    width: 50px;
}

.receiver-fitur .text {
    font-size: 9px;
    text-align: center;
}

.receiver-fitur img {
    width: 50px;
    height: 50px;
}

@media(max-width:991px){
    .card-receiver {
        background: #FFFFFF;
        box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
        border-radius: 20px;
    }
    .card-receiver .card-body{
        border-radius: 20px;
    }
    .receiver-group{
        margin-bottom: 15px !important;
    }
    .receiver-fitur{
        display: flex;
        flex-direction: column;        
        align-items: center;
        width: 40px;
    }
    .receiver-fitur img {
        width: 40px;
        height: 40px;
    }
    
    .receiver-fitur .text {
        font-size: 9px;
        width: 40px;
        word-wrap: break-word;
        text-align: center;
    }
}


.pagination button{
    outline: none !important;
    box-shadow: unset !important;
    border: 0 !important;
    background: transparent !important;
}